
#commands:
#   00_remove_node:
#       command: 'yum remove -y nodejs npm'
#
#   05_pkg_install:
#       cwd: /tmp
#       command: 'curl --silent --location https://rpm.nodesource.com/setup_10.x | sudo bash -'
#
#   10_node_install:
#       cwd: /tmp
#       test: '[ ! -f /usr/bin/node ] && echo "node not installed"'
#       command: 'yum install -y nodejs'
#
#   20_npm_install:
#       cwd: /tmp
#       test: '[ ! -f /usr/bin/npm ] && echo "npm not installed"'
#       command: 'curl -L http://npmjs.org/install.sh | sh'
#
#
#   29_install_node_sass:
#       command: 'echo "unsafe-perm=true" >> ~/.npmrc'
#
#   30_global_sass:
#       command: 'npm install -g node-sass'
#
#   31_postinstall_node_sass:
#       command: 'rm ~/.npmrc'
#
