container_commands:

#   10_packages_install:
#       cwd: /var/app/ondeck/
#       command: 'npm install'
#
#   40_build_assets:
#       cwd: /var/app/ondeck/
#       command: 'npm run prod'

    70-migrate:
        command: "php /var/app/ondeck/artisan migrate:refresh --seed --force"
        leader_only: true
