@import 'variables'

.generated-pdf-wrapper
    background-color: white
    font-size: 10px

    h1
        font-size: 25px
        line-height: 30px

    h2
        font-size: 20px
        line-height: 26px

    h3
        font-size: 15px
        line-height: 20px

    .card
        border-color: $blue-0
