@import 'variables'

@font-face
    font-family: 'Creighton'
    src: url('../fonts/creighton/Creighton.ttf')
    font-weight: normal
    font-style: normal

=font-size($x)
    font-size: $x
    line-height: $x


.generated-pdf-wrapper
    background-color: white
    +font-size(12px)

    .break-after-me
        overflow: hidden
        page-break-after: always
        &:last-child
            page-break-after: avoid

    .avoid-breaking-me
        page-break-inside: avoid

    h1, h2, h3, h4, h5, h6
        font-family: 'Creighton', sans-serif

    h1
        +font-size(40px)
    h2
        +font-size(36px)
    h3
        +font-size(32px)
    h4
        +font-size(28px)

    table
        td, th
            border-width: 1px
            border-color: #aaa

    .lead
        font-size: 12px
        line-height: 14px

    .card
        border-color: $blue-0

    .section-header
        border-top: 3px solid $blue-0
        color: $blue-0
        padding-top: 15px

    .part-header
        border-top: 3px solid $blue-0
        color: $blue-0
        padding-top: 15px
        &.no-top
            border-top: none

    .improvement
        p
            margin-bottom: 0.25em
        .improvement-value
            min-width: 160px
            font-size: 12px
            &.improvement-have
                color: $blue-3
            &.improvement-need
                color: $pink-2
