@import '~bootstrap/scss/bootstrap.scss'

div.submission-vue
    padding-top: 140px
    &.submission-create-vue
        padding-top: 40px
        .details-section-vue
            padding-top: 40px
    padding-bottom: 140px
    .btn
        cursor: pointer
    .navbar, .lead, .improvement-no
        font-family: 'Open Sans', sans-serif
    .lead strong
        font-weight: bold
    .improvement-no
        position: relative
        top: -3px
        width: 48px
        height: 48px
        line-height: 35px
        border-radius: 24px
        background-color: #222
        color: $yellow-2
        border: 2px solid $yellow-3
    .col-form-label
        @media (max-width: 575px)
            text-align: left !important

    .navbar
        background-color: #222
        a, a.nav-null
            color: $yellow-3
        .navbar-text
            color: #999
        .nav-tabs
            border-color: $yellow-3
            .router-link-active, .nav-link.router-link-active:hover
                background-color: $yellow-2
                border-color: $yellow-2
                color: #222
            .nav-link:hover
                background-color: $yellow-4
                border-color: transparent
        .nav-pills
            .nav-need
                color: $pink-2
            .nav-have
                color: $blue-2
        .navbar-top-row, .navbar-bottom-row
            width: 100%

    .improvement-card
        .btn-primary, .btn-danger, .btn-warning
            &.inactive
                +button-variant(#555, #555, #333, #333)
        .card-footer
            background-color: white
        .fade-enter-active, .fade-leave-active
            transition: opacity .5s
        .fade-enter, .fade-leave-to
            opacity: 0


    .submission-comment-vue
        height: 100%
        textarea
            height: calc(100% - 14px)

    .three-way-toggle-vue
        .btn
            width: 30%
            border-color: white

    .rate-one-to-four-vue
        .btn
            width: 20%
            border-color: white
