
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600")

// Variables
@import "variables"

// Core
@import '~bootstrap/dist/css/bootstrap.css'

body
    position: relative


// Submission Vues

// Colors
$blue: #00adef
$pink: #ec008c

$blue-0: #00ADEF
$blue-1: #72D7FD
$blue-2: #15BFFF
$blue-3: #00658B
$blue-4: #012837

$yellow-0: #FFE800
$yellow-1: #FFF26C
$yellow-2: #FFE90B
$yellow-3: #DECA00
$yellow-4: #574F00

$pink-0: #F70087
$pink-1: #FE6CBC
$pink-2: #FF0B90
$pink-3: #B40062
$pink-4: #470027

div.submission-vue
    padding-top: 120px
    padding-bottom: 160px

=activeButton($color-bg, $color-active, $color-active-border)
    color: $color-active
    border: none !important
    outline-color: $color-active-border
    border-color: $color-active
    &, &:hover, &:focus
        background-color: $color-bg
    &.active, &:focus
        color: white
        border-color: transparent
        background-color: $color-active
        -webkit-box-shadow: 0 0 0 3px $color-active-border
        box-shadow: 0 0 0 3px $color-active-border
.btn-primary
    &.btn-have
        +activeButton(white, $blue-2, $blue-3)
    &.btn-need
        +activeButton(white, $pink-2, $pink-3)
